* {

  font-family: monospace;
  font-feature-settings: "tnum";
  
  border: none;
  border-radius: 0;

  min-height: 0;
}

.modules-left {
  margin-left: 0;
}

.modules-right {
  margin-right: 0;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 8px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#mpd,
#privacy,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#idle_inhibitor,
#custom-menu,
#custom-expand-icon {
  padding: 0 8px;
}

#privacy {
    color:#FFCDD2;
}

tooltip * {
  padding: 2px;
}
