* {
  border: none;
  border-radius: 0;
  font-family: monospace;
  font-feature-settings: "tnum";
  min-height: 0;
}

.modules-left {
  margin-left: 0;
}

.modules-right {
  margin-right: 0;
}

#workspaces button {
  all: initial;
  margin: 0 0.125rem;
  min-width: 0.5rem;
  padding: 0 0.375rem;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#mpd,
#privacy,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#idle_inhibitor,
#custom-menu,
#custom-expand-icon {
  min-width: 0.75rem;
  margin: 0 0.45rem;
}

#bluetooth {
  margin-right: 0.2rem;
}

#privacy {
  color: #ffcdd2;
}

tooltip * {
  padding: 0.125rem;
}
