#To ignore
*.local
cache.db
cache.db.lock
.DS_Store
history.search
normal_user/ranger/.config/ranger/plugins/*
normal_user/w3m/.w3m/cookie
normal_user/w3m/.w3m/history
normal_user/w3m/.w3m/*.gz
normal_user/mpv/.config/mpv/watch_later/
normal_user/newsboat/.newsboat/history.cmdline
normal_user/cosmic/.config/cosmic/com.system76.CosmicAppList/v1/favorites
normal_user/cosmic/.config/cosmic/com.system76.CosmicSettings/v1/active-page
normal_user/cosmic/.config/cosmic/com.system76.CosmicPortal/v1/screenshot
normal_user/niri/.config/niri/dms/colors.kdl
normal_user/ghostty/.config/ghostty/config-dankcolors
normal_user/ghostty/.config/ghostty/themes/dankcolors
normal_user/mpd/.config/mpd/database
normal_user/mpd/.config/mpd/state
normal_user/mpd/.config/mpd/sticker.sql
normal_user/gtk-3.0/.config/gtk-3.0/bookmarks
normal_user/gtk-4.0/.config/gtk-4.0/servers
